@import "@assets/themes/main.scss";

.sideLinksContainer {
    position: fixed;
    width: 2rem;
    bottom: 0;
    left: 3rem;
}

.sideLinks {
    list-style-type: none;
}

.sideLinkItem {
    color: $bright;
    height: 2rem;
    opacity: 0.5;
}

.sideLinksHidden, .sideLinksVisible {
    padding: {
        top: 0.5rem;
        bottom: 0.5rem;
    }
}

.sideLinksHidden:last-child, .sideLinksVisible:last-child {
    padding: {
        bottom: 1rem;
    }
}

.sideLinksHidden {
    opacity: 0;
    transform: translateY(30px);
}

.sideLinksVisible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}