.nameContainer {
    position: relative;
    width: 100%;
    padding: {
        bottom: 1.5rem;
    }
}

.nameText {
    font: {
        family: DancingScriptBold;
        size: 120px;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}