@import "@assets/themes/main.scss";

.linksContainer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.linkItem {
    color: $white;
    height: 70px;
    padding: {
        left: 1rem;
        right: 1rem;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}