@import "@assets/themes/main.scss";

.hidden {
    opacity: 0;
    transform: translateY(30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

.backgroundContainer {
    max-width: 80vw;
    padding: {
        bottom: 3rem;
    }
}

.title {
    vertical-align: top;
    display: inline-block;
    padding: {
        right: 3rem;
    }
    font-weight: 600;
    font-size: 1.2rem;
}

.content {
    max-width: 60vw;
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4;
}

.content p{
    margin: 0;
    padding: {
        bottom: 1.2rem;
    }
}

.links {
    color: $white;
    font-weight: 500;
    text-decoration: none;
}