@import "@assets/themes/main.scss";

.hidden {
    opacity: 0;
    transform: translateY(30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    padding: {
        bottom: 3rem;
    }
}

.title {
    text-align: right;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    padding: {
        right: 4rem;
    }
    font-weight: 600;
    font-size: 1.2rem;
}

.content {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.column .title {
    width: 100%;
    text-align: left;
    padding: 0;
}

.column .list {
    list-style-type: none;
    padding: 0;
}

// .links {
//     color: $white;
//     font-weight: 500;
//     text-decoration: none;
// }